<div class="container d-flex justify-content-center" style="width: 100%; height: 100%;">
    <div class="d-flex align-items-center" style="height: 90vh;">
        <div class="text-center">
            <h1 class="display-1 my-lg-5">
                <img ngSrc="/assets/l_enterprise/4-removebg.png" alt="l_enterprise_logo" width="250" height="250" [priority]="true">
                <i class="bi-plus-lg mx-3" (click)="getAll()"></i>
                <img ngSrc="/assets/logo_site.png" alt="shipme_logo" width="250" height="250">
            </h1>
            <h2 class="fw-bold" (click)="hello()">Prochainement</h2>
            <p>Un nouveau site web Angular est en cours de construction et sera bientôt publié</p>
        </div>
    </div>
</div>
